

/**  from app.css **/

#default { width: 320px; height: 240px; display: inline-block; font-family: sans-serif; border: 2px solid #aaa;}

.left {
	text-align: left;
}

.left {
	text-align: left;
}

 html { height: 100%; }
    body { height: 100%; margin: 0; padding: 0; }
    /* Give our markers a background image */
  

#map-container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
}

  body { margin:0; padding:0; }
  
  #map { 
  	top:0; 
  	bottom:0; 
  	width:100%; 
  	height:70%; 
  }

  .wrapper{

  	position: absolute;
  	z-index: 2;
  }

